nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}


h3 {
    font-size: 3vh;
    margin: 0;
    color: blue;
}

.link {
    font-size: 3vh;
    margin: 0;

}

main {
    display: flex;
    justify-content: center;
}

#profile {
    display: flex;
    overflow: hidden;
    width: min(50vw, 50vh);
    height: min(50vw, 50vh);

    background-image: url('smudge-the-viral-cat.png');
    background-size: cover;
    border-radius: 10px;
    border: 5px solid yellow;
    margin: 30px;
    transition: all 1s ease-in-out;
}

#profile:hover {
    border-radius: 50% 7%;
    border: 20px solid black;
    margin: 15px;
}


article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-text {

    background-color: rgb(30 30 30 / 75%);
    background-image: url("img.png");
    background-size: cover;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 13;
    position: relative;
    width: 100%;
    height: 100%;
    color: rgb(255 255 255 / 100);
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.profile-text:hover {
    opacity: 1;
}


#about-me {
    position: relative;
    color: rgb(255 255 255 / 100);
    transition: all 9999999999999999999999s ease-in-out;

}

#about-me:hover {
    color: rgb(255 255 255 / 0);
    transition-delay: -9999999999999999999999s;
}

#profile h3 {
    margin: 5px;
    opacity: 1;
    color: whitesmoke;
    font-size: min(6vh, 6vw);
}

#profile p {
    margin: 5px;
    opacity: 1;
    color: whitesmoke;
    font-size: min(3vh, 3vw);
}


summary {
    transition: all 9999999999999999999999s;
}

summary:active{
    color: rgb(255 255 255 / 0);
    transition-delay: -9999999999999999999999s;
}

#Hover {
    margin-top: -30vh;
    color: inherit;
    opacity: 1;
    font-size: min(4vh, 4vw);
}


.emphasis {
    font-weight: 700;
    text-decoration: underline;
}

.strike-through {
    text-decoration: line-through;
}

li {
    font-size: min(3vh, 3vw);
    transition: all 1s;
}

li:hover {
    font-size: min(6vh, 4vw);
}